.bridges-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
#left-bar-header{
  width: 100% !important;
}

@media (max-width: 768px){
  .dropdown{
    display: block !important;
  }

  .navbar-brand{
    display: block !important;
  }

  .main {
      padding: 0px !important;
  }

  .nav-tutorial{
      padding-left: 20px !important;
  }

  .container-fluid {
      padding-right: 0px !important;
      padding-left: 0px !important;
      margin-right: auto;
      margin-left: auto;
  }

  .custom-mobile-table tr td{
      display: block !important;
      width: calc(100%) !important;
      /*width: 100% !important;*/
    }
  /*.col-sm-9, .col-md-10, .main{
      padding: 0px 5px !important;
  }*/
}

@media (min-width: 768px){
  .dropdown{
    display: none !important;
  }

  .navbar-brand{
    display: none !important;
  }

  .navbar-fixed-top{
     margin-left: 25%;
  }

  #left-bar{
	  top: 0 !important;
    padding: 5px 20px !important;
  }

  .main {
     padding: 20px !important;
  }

  /*.main {
      padding-right: 40px !important;
      padding-left: 40px !important;
  }*/

}

@media (min-width: 992px){
  .navbar-fixed-top{
     margin-left: 16.66666667%;
  }
}


@media (min-width: 1025px){

  .card-img-top{
    height: 300px !important;
    width: 300px !important;
  }

  .col-xs-12.col-md-4{
      width: 28.333333% !important;
  }

}



/******iPad Pro*******/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation:portrait) {
    .navbar{zoom:1.1;}
    #left-bar-header{width: 100% !important;}

    .card-img-top{
      height: 200px !important;
      width: 200px !important;
    }
    .col-xs-12.col-md-4{
        width: 28.333333% !important;
    }
    .main{padding: 5px !important;}
    .navbar{zoom:0.9;}
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation:landscape) {
    .navbar{zoom:1.1;}
    #left-bar-header{width: 100% !important;}

}

/******iPad*******/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    #left-bar-header{width: 100% !important;}
    .card-img-top{
      height: 200px !important;
      width: 200px !important;
    }
    .col-xs-12.col-md-4 {
        width: 34.333333% !important;
    }
    .navbar{zoom:0.9;}
    .main{
      padding-left: 0px !important;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    #left-bar-header{width: 100% !important;}
    .card-img-top{
      height: 200px !important;
      width: 200px !important;
    }
    .col-xs-12.col-md-4 {
        width: 28.333333% !important;
    }
    .navbar{zoom:0.9;}
    .container{padding-left:0px !important;}

}






@media only screen and (device-width: 768px) {
  /* For general iPad layouts */

}

/*@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
    /* For landscape layouts only *
    .card-img-top{
      height: 200px !important;
      width: 200px !important;
    }
    .col-xs-12.col-md-4{
        width: 28.333333% !important;
    }
    .main{padding: 5px !important;}
    .navbar{zoom:0.9;}
}*/

/*@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only *
  .card-img-top{
    height: 200px !important;
    width: 200px !important;
  }
  .col-xs-12.col-md-4{
      width: 28.333333% !important;
  }
  /*.main{padding: 5px !important;}*
  #left-bar-header{width: 100% !important;}
  .navbar{zoom:0.9;}
}*/




.row {
  margin:0px auto !important;
}

/**
 * Footer Styles
 */


/**Push footer to bottom**/
.row-87{
  min-height: 87.5vh !important;
}


#navbar{
  margin-right: 50px;
  /*float: left !important;*/
}

html, body{overflow-x: hidden !important;}
/**{overflow-x: hidden !important;}*/

/* Scrollbar */

::-webkit-scrollbar{width: 10px;}

::-webkit-scrollbar-thumb{background-color:rgb(196, 196, 196); border-radius: 0;}
::-webkit-scrollbar-thumb:hover{background-color:rgb(196, 196, 196);}

::-webkit-scrollbar-track{background-color:rgb(237, 237, 237);}
