.tutorial-active-language-tab{
		color: white !important;
		background-color: grey !important;
}
@media (max-width: 768px){
	.nav-tutorial	{
		margin: -15px 0px 21px -34px !important;
		width: 122% !important;
		padding: 8px 8px;
	}

	.main-tutorial code{
		white-space: inherit !important;
	}

	.nav-tutorial a	{
		padding: 8px 8px !important;
	}

	.main-tutorial *.tabContents {
     padding: 0em 0em !important;
     border: 0px solid #999 !important;
	}
}

/* Fix for viewport being too wide below smallest breakpoint */
@media (max-width: 767px) {
    body > .container { overflow: hidden; } /* fix */
    body > .container > * { overflow: visible; } /* reset back to normal */
}
/*body
{
	border-top: 7px solid #3498db;
	margin: 0px;
	padding: 25px 40px 0px;
	text-align: center;
  display:inline-block;
  min-width:100%;
  box-sizing: border-box;
}
body > *:not(script)
{
  line-height: 22px;
  font-family: 'open sans', sans-serif;
	display:inline-block;
	text-align: initial;
	max-width:70em;
}*/
.main-tutorial h1
{
	font-weight: 800;
	font-size: 32px;
	line-height: 40px;
	margin-top: 0px;
	margin-bottom: 14px;
}
.main-tutorial h2
{
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
	margin-top: 30px;
	margin-bottom: 10px;
	counter-reset: step;
}
.main-tutorial h3, .main-tutorial h4
{
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.main-tutorial h3::before
{
	counter-increment: step;
	content: "Step " counter(step) ": ";
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
}

.nav-tutorial
{
  background-color: #3498db;
	font-size: 14px !important;
	display:inline-block;
	width:100%;
}
.nav-tutorial span
{
	cursor:default;
}
.nav-tutorial a
{
  display:inline-block;
  color: white;
  box-sizing: border-box;
  padding: 8px 16px;
  text-decoration: none;
}
.nav-tutorial > *
{
	float:left;
	background-color: #3498db;
}
.nav-tutorial .active{
  background-color: #2387ca !important;
	color:white !important;
	text-decoration: none !important;
}
.nav-tutorial > *:hover {background-color: #2387ca;color:white !important;text-decoration: none !important;}
.nav-tutorial a:hover{text-decoration: none !important;color:white !important;}
.nav-tutorial *.dropdown-contents
{
	display: none;
	position:absolute;
}
.nav-tutorial *.dropdown-contents *
{
  color: black;
  display: block;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

/* Highlights drop menu options lighter blue on hover */
.nav-tutorial *.dropdown-contents *:hover {background-color: #45a9ec;color:white;text-decoration: none !important;}

/* Displays drop menu options on hover */
.nav-tutorial > *:hover .dropdown-contents{display: block;color:white;text-decoration: none !important;}



.main-tutorial ul
{
	margin-left: .5em;
	padding-left: 2em;
	border-left: 4px solid #3498db;
}
.main-tutorial li
{
	line-height: 18px;
	margin-bottom: 12px;
}
.main-tutorial *.tabs
{
	height:1.6em;
}
.main-tutorial *.tabs > *
{
	float:left;
	box-sizing: border-box;
	text-align:center;
	padding-top:2px;
	width:4em;
	height:inherit;
	border-radius: .5em .5em 0em 0em;
	border: 1px solid #999;
  border-bottom: none;
	cursor: pointer;
	background-color:#f8f8f8;
	box-shadow: 0px -4px 8px rgba(0,0,0,0.1) inset;
}
.main-tutorial *.tabs > * + *
{
	margin-left: -1px;
}
.main-tutorial *.tabs > *[active=true]
{
	color: #2387ca;
  background-color:white;
	height:calc(100% + 1px);
	cursor:default;
	box-shadow: none;
}
.main-tutorial *.tabContents
{
	padding: 0em 2em;
	border: 1px solid #999;
}


/*.main-tutorial *.tabContents > *
{
	display:none;
}
.main-tutorial *.tabContents > *[active=true]
{
	display:block;
}*/

.main-tutorial code
{
	display: block;
  white-space:pre !important;
	border: 1px solid #ddd;
	background-color: #eef;
	margin-bottom: 20px;
	font-size: 85%;
	padding: 0em .2em;
}

.main-tutorial *.iframe-wrapper
{
	/*width:530px;*/
	margin-top: 50px;
	overflow:hidden;
	height:700px;
}

.main-tutorial iframe
{
	position:relative;
	top:-110px;
	left:-35px;
	border: none;
	width: calc(100% + 35px);
	height: calc(100% + 110px);
	overflow:hidden;
}
footer *
{
	font-size: 80%;
	color: #666;
	border-top: 4px solid #EEE;
	padding-top: 5px;
	font-size: 11px;
	text-align: center;
	margin-bottom: 20px;
}
